<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Dream Team</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Css Styles -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/elegant-icons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/magnific-popup.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/owl.carousel.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/slicknav.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/index"><img src="{{ url_for('static',filename='img/logo.png') }}" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li><a href="/">INICIO</a></li>
                        <li><a href="#">Supermercados</a></li>
                        <li><a href="#">Comprar</a>
                        <ul class="dropdown">
                                {% for cat in Categoria %}
                                    <li><a href="/shop_xcat/{{ cat['cat'] }}">{{ cat['descr'] }}</a></li>
                                {% endfor %}
                                </ul>
                        </li>
                        {% if usuario != '' %}
                        <li><a href="#">CUENTA</a>
                            <ul class="dropdown">
                                <li><a href="/shop-cart">Ver Carrito</a></li>
                                <li><a href="/shop-cart">Seguimiento de Compras</a></li>
                                <li><a href="/shop-cart">Historial de Compras</a></li>
                                <li><a href="/shop-cart">Configuracion de Cuenta</a></li>
                                <li><a href="/sign-out">Cerrar Sesion</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="/recetas">Recetas</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        {% if usuario != '' %}
                            <a href="/Login">{{ usuario }}</a>
                        {% else %}
                            <a href="/Login">Login/Register</a>
                        {% endif %}

                    </div>
                    <ul class="header__right__widget">
                        <li><span class="fa fa-search"></span></li>
                        <li><a href="/shop-cart"><span class="fa fa-shopping-cart"></span>
                            <div class="tip">{{ carrito }}</div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Inicio</a>
                    <span>Carrito de Compras</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <form method="post" action="/Act_Carrito">
                    <input id="Datos" name="Datos" type="text" HIDDEN>
                        <table id="TProductos">
                            <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th hidden>id</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for items in carro %}
                                <tr>
                                    <td class="cart__product__item">
                                        <img src="data:image/png;base64,{{ items['foto'] }}" alt="" style="width:25%">
                                        <div class="cart__product__item__title">
                                            <h6>{{ items['descr'] }}</h6>
                                        </div>
                                    </td>
                                    <td class="cart__price" id="precio">{{ items['valor'] }}</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input id="cant" name="cant" type="text" value="{{ items['cant'] }}"
                                                   onchange="Calcula_Totales()">
                                        </div>
                                    </td>
                                    <td class="cart__total" id="Monto">{{ items['monto'] }}</td>
                                    <td id="id" hidden>{{ items['articulo'] }}</td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="cart__btn">
                                    <button hidden onclick="Actualiza()" type="submit">ACTUALIZAR CARRITO</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Total en Carro</h6>
                    <ul>
                        <li id="Total">Total <span>{{ total }}</span></li>
                    </ul>
                    <a href="#" class="primary-btn">Proceder a Pagar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

<!-- Footer Section Begin -->
{% include 'footer.html' %}
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script>
    selected = document.getElementById("TProductos").getElementsByClassName('selected');

    function Calcula_Totales() {
        var x = document.getElementById("TProductos");
        var importT = 0;
        for (var i = 1; i < x.rows.length - 1; i++) {
            art = parseFloat(x.rows[i].cells[0].innerHTML.toString());
            precio = parseFloat(x.rows[i].cells[1].innerHTML.toString());
            cant = parseFloat(x.rows[i].cells[2].getElementsByTagName('input')[0].value);
            importe = cant * precio;
            x.rows[i].cells[3].innerHTML = importe;
            importT += importe;
        }
        document.getElementById("Total").innerText = importT.toString();
    }
    function Actualiza() {
        var x = document.getElementById("TProductos");
        var dat = '|';
        for (var i = 1; i < x.rows.length; i++) {
            var art = x.rows[i].cells[4].innerHTML;
            var precio = x.rows[i].cells[1].innerHTML;
            var cant = x.rows[i].cells[2].getElementsByTagName('input')[0].value;
            dat = dat + art.toString() + ',' + cant.toString() + ',' + precio.toString() + '|';
        }
       document.getElementById("Datos").value = dat.toString();
    }

</script>
<script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/mixitup.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.slicknav.js') }}"></script>
<script src="{{ url_for('static',filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.nicescroll.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>

</html>